/* Resets, plus default font size and family (low specificity) */
@layer theme {
  *, ::after, ::before, ::backdrop {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }
  html {
    /* Geometric Humanist: modernfontstacks.com */
    font-family: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
  }
}

/* Allow darkmode selector to control color-scheme settings for whole page. */
html {
  &:has(#darkmode-system:checked) {
    color-scheme: light dark !important;
  }
  &:has(#darkmode-light:checked) {
    color-scheme: light !important;
  }
  &:has(#darkmode-dark:checked) {
    color-scheme: dark !important;
  }
}

/* style headers, footers, and section spacing */
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-x: clip;

  --color-fg: light-dark(oklch(0.3 0.0478833 259.151), oklch(0.928 0.006 264.531));
  --color-bg: light-dark(oklch(0.967 0.003 264.542), oklch(0.15 0.0478833 259.151));
  --color-border: light-dark(oklch(0.15 0.0478833 259.151), oklch(0.967 0.003 264.542));

  --color-border-muted: color-mix(in oklch, var(--color-border), var(--color-bg) 50%);

  /* Neo Grotesque (modernfontstacks.com) */
  --font-header: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

  --color-banner-fg: light-dark(
    var(--color-bg),
    var(--color-fg)
  );
  --color-banner-bg: light-dark(
    color-mix(in oklch, var(--color-fg), var(--color-bg) 15%),
    color-mix(in oklch, var(--color-bg), var(--color-fg) 15%)
  );

  color: var(--color-fg);
  background-color: var(--color-bg);

  & > header, & > footer {
    font-family: var(--font-header);
    display: flex;
    justify-content: center;
    color: var(--color-banner-fg);
    background-color: var(--color-banner-bg);
    padding-inline: 0.5rem;
    width: 100%;
    > * {
      flex-grow: 1;
      width: 100%;
      max-width: 75rem; /*1200px*/
    }
    a {
      color: inherit;
      text-underline-offset: 0.25em;
      transition: 120ms text-underline-offset ease-out, 120ms color ease-out;
      &:hover, &:focus-visible {
        color: color-mix(in oklch, currentColor, transparent 20%);
        text-underline-offset: 0.125em;
      }
    }
  }
  & > header {
    padding-block: 2rem;
    margin-block-end: 2rem;
    border-block-end: 2px solid var(--color-border-muted);
    h1 {
      width: 100%;
      font-size: 2.5em;
      font-weight: 600;
      margin-block-end: 0.25em;
    }
    a {
      width: 100%;
      display: block;
      font-size: 1.5em;
      font-weight: 500;
    }
  }
  & > footer {
    margin-block-start: 3rem;
    padding-block: 1rem;
    border-block-start: 2px solid var(--color-border-muted);
    flex-shrink: 0;
    font-size: 1.2em;
  }

  & > main {
    max-width: 75rem; /*1200px*/
    width: 100%;
    flex: 1 0 auto;
    margin-inline: auto;
    padding-inline: 0.5rem;

    display: grid;
    row-gap: 4rem;
    column-gap: 8rem;
    grid-template-columns: 1fr;
    @media (min-width: 50rem) { /*800px*/
      grid-template-columns: repeat(2, 1fr);
    }
    justify-items: center;
    align-items: start;

    & > section {
      max-width: calc(50ch + 4rem);
      width: 100%;

      &:is(.code) {
        grid-column: 1 / -1;
        max-width: none;
      }

      & > h2 {
        width: 100%;
        font-family: var(--font-header);
        font-size: 1.5em;
        font-weight: 500;
        margin-block-end: 1rem;
      }
    }
  }
}

/* Generated widget elements will be placed in here. */
.widget-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: var(--color-fg);
  background-color: light-dark(#FFF, #000);
  padding: 2rem;
  margin-block-start: 1.75rem;
  border-radius: 4px;
  border: 1px solid var(--color-border);
}

/* Widget Configuration form, and Dark Mode selector inside Widget Viewer. */
form.config, fieldset.darkmode, fieldset.colors, fieldset.colors fieldset, section.code {
  &:not(section.code) {
    padding: 1em;
    border: 1px solid var(--color-border-muted);
  }

  :focus-visible {
    outline: 0.1875rem solid light-dark(oklch(0.5 0.139272 91.1352), oklch(0.7 0.139272 91.1352));
    outline-offset: 0.25rem;
  }

  button:not(.clr-field *), input {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
  button:not(.clr-field *) {
    font-size: 1.2em;
    font-weight: 500;
    margin-block-start: 2.5em;
    margin-inline: auto;
    appearance: button;
    text-align: center;
    display: block;
    cursor: pointer;
    
    padding: 0.5lh 2lh;
    color: var(--color-bg);
    background-color: var(--color-fg);
    border-radius: 9999px;

    transition: 120ms background-color ease;
    &:hover, &:focus-visible {
      background-color: color-mix(in oklch, var(--color-fg), var(--color-bg) 10%);
    }
  }
  .clr-field {
    width: 100%;
  }
  input[type="text"] {
    display: block;
    width: 100%;
    padding: 0.35em 1em;
    margin-block-start: 0.25em;
    border: 2px solid var(--color-border);
    font-weight: 400;
    &:is(.clr-field *) {
      margin-block-start: 0;
      border-width: 1px;
    }
    transition: 120ms box-shadow ease, 120ms border-color ease;
    &:hover, &:focus-visible {
      --focus-border: color-mix(in oklch, var(--color-border), var(--color-bg) 30%);
      box-shadow: 0 0 0 1px var(--focus-border);
      border-color: var(--focus-border);
    }
  }

  label {
    display: block;
    cursor: pointer;
    user-select: none;
    font-weight: 500;

    &:not(fieldset.colors *) {
      font-size: 1.06em;
      & + label {
        padding-block-start: 1.5em;
        &:has(input[type="radio"]) {
          padding-block-start: 0.5em;
        }
      }
    }

    &:has(input:is([type="radio",type="checkbox"])) {
      border: 2px solid transparent;
      transition: 120ms border-color ease;
      &:hover, &:focus-visible {
        border-color: var(--border-color-muted);
      }
    }
  }
  .desc, .err {
    margin-block: 0.25em;
    margin-inline: 0.25em;
    width: 100%;
  }

  .desc {
    font-weight: 300;
    color: color-mix(in oklch, currentColor, transparent 10%);
    font-size: 0.75em;
  }

  .err {
    color: light-dark(#9f0712, #ff6467);
    font-size: 0.9em;
  }
}

/* Custom colors */
fieldset.colors {
  font-size: 0.95em;
  margin-block-start: 2em;
}
fieldset.color-pair {
  margin-block-start: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8em 2em;
  label {
    flex-grow: 1;
    font-size: 0.9em;
    font-weight: 400 !important;
    input {
      color: var(--color-fg) !important;
    }
  }
}
form.config:not(:has(input#custom-colors:checked)) fieldset.colors {
  /* Hide this section when the custom colors checkbox is unchecked. */
  display: none;
}

/* Generated HTML */
section.code {
  & > pre {
    color: var(--color-fg);
    max-width: 94svw;
    width: 100%;
    background-color: color-mix(in oklch, var(--color-bg), var(--color-fg) 2%);
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace; /* Monospace Code: modernfontstacks.com */
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding: 1rem;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 50svh;
    margin-block-start: 1rem;
    margin-block-end: 2rem;
  }

  & > .button-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-inline: 1rem;
    gap: 1.5rem 4rem;
    justify-content: center;
    button {
      font-size: 1.05em;
      margin-inline: 0;
      margin-block-start: 0;
    }
  }
}
